<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to the main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="https://github.com/varun-venkatesh">GitHub</a></li>
			<li><a href="http://ca.linkedin.com/in/venkateshvarun">Linkedin</a></li>
    		</ul>
		</nav>
		<div class="container">
    {{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/varun-venkatesh">github.com/varun-venkatesh</a></li>
			</ul>
		</footer>
	</body>
</html>
